@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@layer utilities {
  .icon-menu {
    @apply block bg-[url(../public/menu.svg)] bg-no-repeat;
    width: 48px;
    height: 48px;
  }

  input[type="checkbox"]:checked + .icon-menu {
    @apply block bg-[url(../public/cancel.svg)];
  }

  input[type="checkbox"]:checked ~ nav {
    @apply flex;
  }
}
